html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
  margin-bottom: 30px;
}
.text-primary {
  color: #9acd32;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p .large {
  font-size: 16px;
}
a {
  color: #9acd32;
  outline: none;
}
a:hover,
a:focus,
a:active,
a .active {
  outline: none;
  color: #7ba428;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: #ffffff;
  background-color: #9acd32;
  border-color: #9acd32;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #7ba428;
  border-color: #759c26;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #9acd32;
  border-color: #9acd32;
}
.btn-primary .badge {
  color: #9acd32;
  background-color: #ffffff;
}
.btn-xl {
  color: #ffffff;
  background-color: #9acd32;
  border-color: #9acd32;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #ffffff;
  background-color: #7ba428;
  border-color: #759c26;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #9acd32;
  border-color: #9acd32;
}
.btn-xl .badge {
  color: #9acd32;
  background-color: #ffffff;
}
.navbar-default {
  background-color: #222222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #9acd32;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #7ba428;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #9acd32;
  border-color: #9acd32;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9acd32;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #9acd32;
}
.navbar-default .nav li a:focus {
  color: white;
  outline: none;
}
.navbar-default .nav li a:hover {
  color: white;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #9acd32;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #7ba428;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  min-height: 100%;
  width: 100%;
  display: table;
  background-image: url('https://s3-sa-east-1.amazonaws.com/portfolio-esteb.co/bg3.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  display: table-cell;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.4s ease;
}
header .intro-text h1 {
  font-family: 'Raleway';
  text-shadow: 1px 1px 5px black;
  font-weight: 900;
  color: white;
}
@media (max-width: 768px) {
  header .intro-text {
    padding-top: 50%;
  }
}
@media (min-width: 768px) {
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  header .intro-text h1 {
    font-size: -webkit-xxx-large;
  }
}
@media (min-width: 1024px) {
  header .intro-text {
    padding-top: 20%;
  }
}
/*About*/
.about {
  padding: 80px 0;
}
.about img {
  content: url(https://s3-sa-east-1.amazonaws.com/portfolio-esteb.co/me2.jpg);
}
.about .p-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}
/*Global Section Styles*/
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
@media (min-width: 767px) {
  #services .fa-stack {
    font-size: 6em;
  }
  .service-heading {
    font-size: 24px !important;
  }
}
#portfolio {
  padding: 50px !important;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(154, 205, 50, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (max-width: 767px) {
  #portfolio {
    padding: 75px 0 !important;
  }
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
aside.clients img {
  margin: 50px auto;
}
section#contact {
  background-color: #222222;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #9acd32;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */

  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */

  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: #e74c3c;
}
/* Footer */
footer {
  background-color: yellowgreen;
  padding: 50px 0;
  text-align: right;
}
footer h1 {
  text-align: right;
}
footer ul {
  text-align: end;
}
footer ul .linkedin {
  content: url(https://s3-sa-east-1.amazonaws.com/portfolio-esteb.co/icons/linkedin.png);
}
footer ul .github {
  content: url(https://s3-sa-east-1.amazonaws.com/portfolio-esteb.co/icons/github.png);
}
footer ul .twitter {
  content: url(https://s3-sa-east-1.amazonaws.com/portfolio-esteb.co/icons/twitter.png);
}
footer ul .facebook {
  content: url(https://s3-sa-east-1.amazonaws.com/portfolio-esteb.co/icons/facebook.png);
}
footer ul .instagram {
  content: url(https://s3-sa-east-1.amazonaws.com/portfolio-esteb.co/icons/instagram.png);
}
